<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>292982405025-5bij090pn5gken917n0n9voedj35g2ad.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.292982405025-5bij090pn5gken917n0n9voedj35g2ad</string>
	<key>API_KEY</key>
	<string>AIzaSyD4KD5Q0f14SF82i7LwjuRnae94uwph2yA</string>
	<key>GCM_SENDER_ID</key>
	<string>292982405025</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fablab</string>
	<key>PROJECT_ID</key>
	<string>fablab-5e476</string>
	<key>STORAGE_BUCKET</key>
	<string>fablab-5e476.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:292982405025:ios:eee8b5d230c7fea550bde0</string>
</dict>
</plist>